.keyboards {
  position: relative;
  width: 800px;
  margin: auto;
  height: 373px;
  bottom: 0;
  padding: 0;
  background-image: url(https://projectmycode.herokuapp.com/img/QWERTY.png);
}
.smallkeyboards{
  position: relative;
  width: 320px;
  margin: auto;
  height: 145px;
  bottom: 0;
  padding: 0;
}
.keyboardImage{
  position: relative;
  width: 320px;
  margin: auto;
  height: 145px;
  bottom: 0;
  padding: 0;
}
